.box-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
  background-color: #fff;
  border: 2px solid #555;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #444;
  padding: 15px;
}

.vs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.box {
  width: 47%;
  height: 80%;
  margin: 15px;
  border: 5px solid #000;
  text-align: center;
  font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translatex(-50%);
  font-size: 42px;
}

.box img {
  width: 100%;
  height: 81.8%;
}

.result {
  margin-top: 15px;
  font-size: 36px;
  font-weight: 700;
}

.score {
  position: fixed;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  background-color: #fff;
  width: 300px;
  height: 150px;
  border: 2px solid #555;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #444;
  padding: 20px;
}
.scoreBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.fa-solid {
  cursor: pointer;
  margin: 0 45px;
  font-size: 68px;
}

.scoreBox div {
  font-size: 24px;
}
.odds {
  font-size: 24px;
}

.win {
  border: 5px solid greenyellow;
}

.lose {
  border: 5px solid red;
}

.tie {
  border: 5px solid #000;
}

.wint {
  color: greenyellow;
}

.loset {
  color: red;
}

.tiet {
  color: #000;
}
